body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #037bfb;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #252529;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.notice {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
}
